<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Kamlesh Mishra. It uses Weatherstack and Mapbox to provide weather details.</p>
        <img class="portrait" src="/img/kamleshnew.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>